{% extends "layout.html" %}

{% block title %}Database{% endblock %}

{% block content %}
<div class="row justify-content-md-center">
    <div class="col-md-auto mb-5">
        <form>
            <div class="input-group">
                <input type="text" name="user" id="searchTxt" class="form-control" style="width: 100%">    
                <button type="submit" class="btn btn-success input-group-addon" id="submitBtn"><i class="fa fa-search"></i></button>
            </div>
        </form>
    </div>
</div>
<div class="row" id='searchResult'>
</div>
<!-- /.row -->
<!-- /.row -->
{% endblock %}
{% block js %}
<script>
    $(function() {
        $('#submitBtn').click(function(event) {
            event.preventDefault();
            $.ajax({
                url: '/databaseSearch',
                data: {
                    searchText: $('#searchTxt').val(),
                },
                type: 'POST',
                success: function(data) {
                    if(data == "no user"){
                        $('#searchResult').html("");
                        console.log(data);
                        var html = '';
                        html += '<div class="col-md-12 mb-5" style="text-align:center;"><div class="card h-100"><div class="card-body"><h4 class="card-title">No user found!</h4></div></div></div>';
                        $('#searchResult').append(html);
                    } else {
                        $('#searchResult').html("");
                        console.log(data);
                        var html = '';
                        html += '<div class="col-md-4 mb-5"><div class="card h-100"><div class="card-body"><h4 class="card-title">' + data[0].username + '</h4><p class="card-text">' + data[0].created_at + '</p></div><div class="card-footer"><a href="' + data[0].id +'" class="btn btn-primary">Find Out More!</a></div></div></div>';
                        $('#searchResult').append(html);
                    }
                },
                error: function(err) {
                    console.log(err);
                }
            })
        });
    });
</script>
{% endblock %}